@charset "utf-8";
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Roboto_300.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto_400.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Roboto_700.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans Malayalam';
  font-style: normal;
  font-weight: 400;
  src:  url(../fonts/NotoSansMalayalam-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans Malayalam';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSansMalayalam-Bold.woff2) format('woff2');
}
.bd_clear{
    clear: both;
}
.header{
    background-color: #198a43;
    color: #FFF;
}
.bg_pattern{
    background: url(../images/bg_pattern.png);
    padding: 20px 0px;
}
.logo{
    float: left;
}
.nav_wrap{
    float: left;
    margin-top: 37px;
}
ul.navigation{
    float: left;
    margin: 0px;
    padding: 0px;
}
ul.navigation > li{
    float: left;
    list-style: none;
}
ul.navigation > li > a{
    display: inline-block;
    padding: 5px 15px;
    color: #FFF;
    font-size: 15px;
    text-transform: uppercase;
}
ul.navigation > li > a i{
    font-size: 21px;
}
.form_wrap{
    text-align: center;    
}
.form_wrap h3{
    font-size: 24px;
    text-transform: uppercase;
}
.form_block label{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;  
    margin-top: 30px;
}
.form_block input[type="text"]{
    border: 2px solid #898989;
    height: 40px;
    display: inline-block;
}
.form_block input[type="submit"]{
    text-align: center;
    height: 40px;
    width: 100px;
    background: none;
    border: 2px solid #898989;
    margin-top: 30px;
}
.result_wrap h3{
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}
.result_inner{
    text-align: center;
}
.result_in{
    display: inline-block;
    padding: 15px;
    border: 2px solid #898989;
}
.result_row{
    font-size: 17px;
    text-transform: uppercase;
    margin: 7px 0px;
}
.result_row label{
    font-weight: 400;
}
.result_row_left{
    float: left;
    width: 50%;
    text-align: right;
}
.result_row_right{
    float: right;
    width: 50%;
    text-align: left;
    padding-left: 15px;
}
.status{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    color: green;
}
.vel_logo{
    width: 100%;
    max-width: 400px;
    margin: 30px auto;
}
.vel_logo img{
    max-width: 100%;
}

.footer{
    height: 253px;
    background: url(../images/footer.jpg) no-repeat center;
    margin-top: 30px;
}

@media only screen and (min-width: 768px){
    .result_in{
        width: 500px;
    }
}
@media only screen and (max-width: 767px){
    .result_in{
        width: 100%;
    }
}



























